%h1 Where to stay

%p There are many places to stay, however the following are ones we recommend (in order of distance from the venue):

%img{:src=>"../images/hurtwood.jpg"}

%ul.accom
  %li
    %h2 
      %a{:href=>"http://www.hurtwoodinnhotel.com/"} Hurtwood Inn, Peaslake
    %p Doubles from &pound;115
    %p
      %a{:href=>"http://www.hurtwoodinnhotel.com/"} Visit site
  %li
    %h2
      %a{:href=>"http://www.principal-hayley.com/locations/wotton-house.aspx"} Wotton House, Dorking
    %p &pound;97 - &pound;115
    %p
      %a{:href=>"http://www.principal-hayley.com/locations/wotton-house.aspx"} Visit site
  %li
    %h2 
      %a{:href=>"http://www.manorhouse-hotel.com/"} Manor House Hotel, Guildford
    %p &pound;94
    %p
      %a{:href=>"http://www.manorhouse-hotel.com/"} Visit site
  %li
    %h2
      %a{:href=>"http://www.ramada.com/Ramada/control/Booking/property_info?propertyId=15789&variant=uk&brandInfo=RA"} Ramada, East Horsley
    %p &pound;84 - &pound;120
    %p
      %a{:href=>"http://www.ramada.com/Ramada/control/Booking/property_info?propertyId=15789&variant=uk&brandInfo=RA"} Visit site
  %li
    %h2
      %a{:href=>"http://www.radissonedwardian.com/surrey-hotel-gb-gu1-3da/gbguildf"} Radisson Edwardian Guildford Hotel
    %p &pound;120 - &pound;360
    %p
      %a{:href=>"http://www.radissonedwardian.com/surrey-hotel-gb-gu1-3da/gbguildf"} Visit site
