
%h1 Wedding gifts
%img{:src=>"../images/johnlewis.gif", :alt=>"John Lewis Gift List"}
%p We have chosen John Lewis to register our gifts, but we will be excited to receive anything you would like to give us!

%p
  %a{:href=>"https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp"} See the list
  \- available from 12 May 2012
  
%p Gift list number: 502185
