
%h1 The wedding

%img{:src=>"../images/rings.jpg"}

%p Welcome to our wedding website.

%p We hope that you find this site useful - we have set it up so you can find all the information you need to do with our wedding ceremony and reception in just one place. 

%p If you have any questions or would like any other information, please let us know.