
%h1 The ceremony and reception

%img{:src=>"../images/burrowslea.jpg"}

%p Both the ceremony and reception are being held at Burrows Lea Country House in Shere and will be performed by Stephen Vaughan-Atkins. 

%p The service is due to start at 3pm - please arrive in good time to take your seats.

%p Cary and Michael will be there to help you in any way they can.

%ul.address
  %li Burrows Lea Country House
  %li Hook Lane 
  %li Shere 
  %li Surrey 
  %li GU5 9QG

%p Telephone: 01483 205620

:plain
  <iframe width="630" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=GU5+9QG&amp;aq=&amp;sll=51.218067,-0.459366&amp;sspn=0.231815,0.527344&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=GU5+9QG,+United+Kingdom&amp;ll=51.20712,-0.457298&amp;spn=0.115895,0.263672&amp;t=m&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=GU5+9QG&amp;aq=&amp;sll=51.218067,-0.459366&amp;sspn=0.231815,0.527344&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=GU5+9QG,+United+Kingdom&amp;ll=51.20712,-0.457298&amp;spn=0.115895,0.263672&amp;t=m&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>

